.main-nav-btn {
  position: relative;
  border: none;
  color: var(--light);
  transition: font-size 0.3s ease,;
}

.main-nav-btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--secondary);
  transition: width 0.3s ease;
}

.main-nav-btn:hover::after {
  width: 100%;
}

.main-nav-btn:hover {
  color: var(--secondary);
}