.prefoot-input {
  font-family: var(--content);
}

.prefoot-input label {
  color: var(--secondary);
}

.prefoot-input input {
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-color: var(--secondary);
  transition: 0.2s all ease-in-out;
}

.prefoot-input input::placeholder {
  color: #77858a;
}

.prefoot-input input:hover {
  cursor: pointer;
  border-color: var(--secondary);
  border-radius: 10px 0 0 10px;
}

.prefoot-input input:focus,
.prefoot-input input.valid {
  outline: none;
  border-radius: 10px 0 0 10px;
  background-color: var(--secondary);
  color: var(--dark);
}

.prefoot-input button {
  background-color: var(--dark);
  color: var(--secondary);
  border-radius: 0 10px 10px 0;
  font-weight: bold;
  transition: 0.2s all ease-in-out;
  border: 1px solid var(--secondary);
}

.prefoot-input button:not(:disabled):hover {
  background-color: transparent;
  color: var(--secondary);
  border-color: var(--secondary);
}

.confirmation-msg {
  color: var(--secondary);
  transform-origin: top;
  animation: slideDown 0.3s ease-in-out;
}
