/* Main Navbar */
#main-nav {
  background-color: var(--primary);
  position: sticky;
  top: 0;
  z-index: 9999999;
  transition: padding 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

/* Logo Button */
#logo-btn {
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out, background-image 0.3s ease-in-out, all 0.2s ease-in-out;
  background-image: url("../../assets/images/logo/default.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 7rem;
  height: 7rem;
  border: 2px solid transparent;
  border-radius: 10px;
}

#logo-btn.logo-shrink {
  width: 5rem;
  height: 5rem;
}

#logo-btn:hover, #logo-btn:focus {
  background-image: url("../../assets/images/logo/hover.png");
}

#logo-btn:focus-visible {
  border: 2px solid var(--secondary);
  outline: none;
  margin: .5rem;
}

/* Reservation Button */
#reservation-btn {
  border: 2px solid var(--dark);
  border-radius: 10px;
  color: var(--dark);
  z-index: 1;
  background: var(--secondary);
  position: relative;
  transition: 0.3s all ease-in-out, font-size 0.3s ease-in-out;
  overflow: hidden;
  font-family: var(--content);
}

#reservation-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: var(--dark);
  z-index: -1;
  transition: all 250ms;
}

#reservation-btn:hover {
  color: var(--secondary);
  border-color: var(--secondary);
}

#reservation-btn:hover::before {
  width: 100%;
}

#reservation-btn:focus-visible {
  color: var(--secondary);
  border-color: var(--secondary);
  background-color: var(--dark);
  outline: none;
}
