#main-nav {
  background-color: var(--primary);
}

#logo-btn {
  transition: 0.2s all ease-in-out;
  background-image: url("./../../assets/images/logo/default.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 8rem;
  height: 8rem;
}

#logo-btn:hover {
  background-image: url("./../../assets/images/logo/hover.png");
}

/* Reservation Button */
#reservation-btn {
  border: 2px solid var(--dark);
  border-radius: 10px;
  color: var(--dark);
  z-index: 1;
  background: var(--secondary);
  position: relative;
  transition: 0.2s all ease-in-out;
  overflow: hidden;
  font-family: var(--content);
}

#reservation-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: var(--dark);
  z-index: -1;
  transition: all 250ms;
}

#reservation-btn:hover {
  color: var(--secondary);
  border-color: var(--secondary);
}

#reservation-btn:hover::before {
  width: 100%;
}
