/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap");

/* Colors and fonts*/
:root {
  --primary: #0070bb;
  --secondary: #ede8d0;
  --light: #f0f8ff;
  --dark: #002244;
  --title: "Cinzel", serif;
  --content: "Host Grotesk", sans-serif;
}

body {
  background-color: var(--secondary);
}

/* Animations */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideup {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slidein {
  0% {
    transform: translateX(100rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-from-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes arrow-move {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-0.5rem);
  }
}

@keyframes scroll {
  to {
    left: -1ch;
  }
}

/* Responsive for accessibility */
@media screen and (max-width: 1140px) {
  /* Top nav */
  .desktop-nav,
  .main-nav-btn {
    display: none !important;
  }

  .mobile-nav {
    display: flex !important;
  }

  .right-nav {
    justify-content: flex-end !important;
  }
}

@media screen and (min-width: 961px) and (max-width: 1504px) {
  /* Top nav */
  #top-nav-content {
    padding: 0rem ;
  }
  #top-nav,
  #top-nav button,
  #top-nav p,
  #top-nav a {
    font-size: 0.7rem !important;
  }

  /* Main Nav */
  #main-nav {
    padding: 0.3rem;
  }

  #logo-btn {
    width: 5rem !important;
    height: 5rem !important;
  }

  .main-nav-btn,
  #reservation-btn {
    font-size: 1rem;
    padding: 0.2rem;
  }
}