/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

/* Colors and fonts*/
:root {
  --primary: #0070BB;
  --secondary: #ede8d0;
  --light: #F0F8FF;
  --dark: #002244;
  --title: "Cinzel", serif;
  --content: "Host Grotesk", sans-serif
}

body {
  background-color: var(--secondary);
}

/* Animations */
.hidden-state {
  opacity: 0;
  transform: translateX(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.from-left {
  transform: translateX(-50px);
}

.from-right {
  transform: translateX(50px);
}

.from-bottom {
  transform: translateY(50px);
}

.show {
  opacity: 1;
  transform: translateX(0);
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}