/* From Uiverse.io by Uncannypotato69 */
.wrapper {
  min-height: 3rem;
  min-width: 20rem;
  font-size: 2rem;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0)
  );
  margin-top: 3rem;
}

.letter {
  width: 1ch;
  font-weight: 900;
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
  left: 100%;
  animation: scroll 3.5s linear infinite;
  font-family: var(--title);
  color: var(--dark);
}

@keyframes scroll {
  to {
    left: -1ch;
  }
}
.letter1 {
  animation-delay: calc(3.5s / 24 * (24 - 1) * -1);
}
.letter2 {
  animation-delay: calc(3.5s / 24 * (24 - 2) * -1);
}
.letter3 {
  animation-delay: calc(3.5s / 24 * (24 - 3) * -1);
}
.letter4 {
  animation-delay: calc(3.5s / 24 * (24 - 4) * -1);
}
.letter5 {
  animation-delay: calc(3.5s / 24 * (24 - 5) * -1);
}
.letter6 {
  animation-delay: calc(3.5s / 24 * (24 - 6) * -1);
}
.letter7 {
  animation-delay: calc(3.5s / 24 * (24 - 7) * -1);
}
.letter8 {
  animation-delay: calc(3.5s / 24 * (24 - 8) * -1);
}
.letter9 {
  animation-delay: calc(3.5s / 24 * (24 - 9) * -1);
}
.letter10 {
  animation-delay: calc(3.5s / 24 * (24 - 10) * -1);
}
.letter11 {
  animation-delay: calc(3.5s / 24 * (24 - 11) * -1);
}
.letter12 {
  animation-delay: calc(3.5s / 24 * (24 - 12) * -1);
}
.letter13 {
  animation-delay: calc(3.5s / 24 * (24 - 13) * -1);
}
.letter14 {
  animation-delay: calc(3.5s / 24 * (24 - 14) * -1);
}
.letter15 {
  animation-delay: calc(3.5s / 24 * (24 - 15) * -1);
}
.letter16 {
  animation-delay: calc(3.5s / 24 * (24 - 16) * -1);
}

.wip {
  transition: 0.2s slideUp ease-in-out;
}

.wip p {
  font-family: var(--content);
  color: var(--dark);
}

.slideup {
  animation: slideup 0.5s ease-out forwards;
}

.slide-in-right {
  animation: slide-in-from-right 0.5s ease-in-out;
}

.wip-btn {
  background-color: transparent;
  color: var(--dark);
  border-radius: 15px;
  font-family: var(--content);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 5px 0 3px var(--dark);
  border: 2px solid var(--dark);
}

.arrow {
  display: inline-block;
}

.wip-btn:hover .arrow {
  animation: arrow-move 0.5s ease-in-out infinite;
  margin: 0 0.5rem;
}

.wip-btn:active, .wip-btn:focus-visible {
  background-color: var(--dark);
  box-shadow: none;
  transform: scale(90%);
  color: var(--light);
  outline: none;
}