#footer {
  background-color: var(--primary);
  font-family: var(--content);
  color: var(--secondary);
}

.footer-btn {
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  border: 2px solid transparent;
  border-radius: 10px;
}

.footer-btn:hover {
  color: var(--light);
  padding: 0 1rem;
}
.footer-btn:focus-visible, #footer-logo-btn:focus-visible {
  outline: none;
  border: 2px solid var(--light);
  color: var(--light);
  padding: 0.5rem;
  border-radius: 10px;
}

#footer-logo-btn {
  background-image: url("./../../assets/images/logo/secondary.png");
  background-position: center;
  background-size: cover;
  height: 12rem;
  width: 12rem;
  transition: 0.2s all ease-in-out;
  border: 2px solid transparent;
  border-radius: 10px;
}

#footer-logo-btn:hover,
#footer-logo-btn:focus-visible {
  background-image: url("./../../assets/images/logo/primary.png");
}

@media screen and (max-width: 768px) {
  #footer-logo-btn {
    width: 8rem;
    height: 8rem;
  }
}
